<h4><i class="medium material-icons">monetization_on</i> New Price</h4>

<div class="row">
	<%= simple_form_for(@item_price) do |f| %>
		<div class="row">
			<div class="input-field col s10">
				<i class="material-icons prefix">info_outline</i>
				<%= f.label :item %><br></br>
    		<%= f.collection_select :item_id, Item.active.all, :id, :name %>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s10">
				<i class="material-icons prefix">attach_money</i>
				<%= f.label :price %>
    		<%= f.number_field :price %>
			</div>
    </div>
		<div class ="row">
			<div class="input-field col s10">
				<button class="btn waves-effect waves-light">
					<i class="material-icons right">send</i>
					<%= f.submit %>
				</button>
			</div>
		</div>
	<% end %>
</div>