<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<h2>Recent Purchases</h2>
<h4><%= link_to 'Make a New Purchase', new_purchase_path %></h4>

<table class="table">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Date</th> 
  </tr>

<% @purchases.each do |purchase| %>
  <% unless purchase.nil? || purchase.item.nil? %>
  <tr>
    <td><%= link_to purchase.item.name, item_path(purchase.item) %></td>
    <td align="right"><%= number_with_delimiter(purchase.quantity) %></td>
    <td><%= purchase.date.strftime("%m/%d/%y") %></td>
  </tr>
  <% end %>
<% end %>
</table>

<!-- Add the pagination using will_paginate gem -->
<span class="smtext">
<%= will_paginate @owners, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
</span>