<h2>Available Items </h2>
<h4><%= link_to 'Add a New Item', new_item_path %></h4>

<% unless @boards.empty? && @pieces.empty? && @clocks.empty? && @supplies.empty? && @inactive_items.empty? %>

  <% unless @boards.empty? %>
    <%= render partial: "boards" %>
  <% else %>
    <p>There are no boards in the system at this time.</p>
  <% end %>

  <% unless @pieces.empty? %>
    <%= render partial: "pieces" %>
  <% else %>
    <p>There are no pieces in the system at this time.</p>
  <% end %>

  <% unless @clocks.empty? %>
    <%= render partial: "clocks" %>
  <% else %>
    <p>There are no clocks in the system at this time.</p>
  <% end %>

  <% unless @supplies.empty? %>
    <%= render partial: "supplies" %>
  <% else %>
    <p>There are no supplies in the system at this time.</p>
  <% end %>

  <% unless @inactive_items.empty? %>
    <%= render partial: "inactive_items" %>
  <% else %>
    <p>There are no inactive items in the system at this time.</p>
  <% end %>

<% else %>
  <p>There are no items in the system at this time.</p>
<% end %>

