<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
<h3><%= @item.name %></h3>
<p>Price: 
	<% if @item.current_price.nil? %>
		N/A
	<% else %>
		<%= "$" + number_with_delimiter(number_with_precision(@item.current_price, precision: 2)) %>
	<% end %>
</p>
<p>Description: <%= @item.description %></p>
<p>Inventory Level: <%= number_with_delimiter(@item.inventory_level) %></p>
<p>Reorder Level: <%= number_with_delimiter(@item.reorder_level) %></p>
<p>Color: <%= @item.color %></p>
<% unless @price_history.empty? %>
	<p>Price History:</p>
		<% for p_hist in @price_history %>
			<% if p_hist.end_date.nil? %>
				<li><%= "From " + p_hist.start_date.strftime("%-m/%-d/%y") + " to today: " + number_to_currency(p_hist.price) %></li>
			<% else %>
				<li><%= "From " + p_hist.start_date.strftime("%-m/%-d/%y") + " to " + p_hist.end_date.strftime("%-m/%-d/%y") + ": " + number_to_currency(p_hist.price) %></li>
			<% end %>
		<% end %>
<% end %>
<p></p>
<p>Similar Items:</p> 
	<% for sim_item in @similar_items %>
		<li><%= link_to sim_item.name, item_path(sim_item) %></li>
	<% end %>
<p> </p>
<%= link_to 'Edit', edit_item_path(@item), class: "button tiny radius"%>
<%= link_to 'Destroy', @item, class: "button tiny radius alert", confirm: 'Are you sure?', method: :delete %>