<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>A&M Chess Store :: <%= controller.controller_name.capitalize %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>

    <div class="contain-to-grid">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo"><i class="material-icons">store</i>Alex and Mark's Chess Store</a>
          <ul class="right hide-on-med-and-down">
            <li class="tab"><%= link_to "Items", items_path %></li>
            <li class="tab"><%= link_to "Purchases", purchases_path %></li>
            <li class="tab"><%= link_to "Prices", item_prices_path %></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="row">
      <div class="small-8 columns">
        <!-- MAIN CONTENT GOES HERE -->
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>

      <div class="small-1 columns">
        &nbsp;
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="small-6 large-centered columns">
          <%= render partial: 'partials/footer' %>
        </div>
      </div> 
    </footer>     
  </body>